@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @keyframes gradient-x {
    0%,
    100% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
  }

  .animate-gradient-x {
    background-size: 200% 200%;
    animation: gradient-x 5s ease infinite;
  }
}
.swiper {
  position: relative;
  padding-bottom: 60px;
}

.swiper-pagination {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  z-index: 10;
}

.swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #5f6366;
  cursor: pointer;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  transition: all 0.3s ease;
}

.swiper-pagination-bullet-active {
  background-color: #ae8464;
}

.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal {
  left: 50% !important;
  transform: translateX(-50%) !important;
  width: auto !important;
}

.swiper-button-prev,
.swiper-button-next {
  top: 50%;
  z-index: 20;

  border-radius: 50%;
  background-color: #ae8464;
  color: #f0efec;
  display: flex;
  align-items: center;
  justify-content: center;

  border: transparent;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  transition: all 0.3s ease;

  &:hover {
    color: #ae8464;
    background-color: #f0efec;
    border: solid 2px #ae8464;
    transform: scale(1.05);
  }

  &::after {
    font-size: 1.1rem;
    font-weight: bold;
  }

  &.swiper-button-disabled {
    opacity: 0;
    pointer-events: none;
  }
}

.container {
  @apply mx-auto flex max-w-container px-safe;
}

.hero-title-h1 {
  @apply font-serif text-[35px] capitalize leading-[1.35] text-primary md:text-[60px] lg:text-titleHome;
}

.hero-title-h2 {
  @apply font-serif text-[30px] capitalize leading-[1.35] text-primary md:text-[40px] lg:text-title;
}

.hero-title-h3 {
  @apply font-serif text-base leading-[1.3] text-primary lg:text-cartTitle;
}

.hero-subtitle-p {
  @apply font-sans text-[18px] leading-[1.4] text-description md:text-[20px] lg:text-base;
}

.card {
  @apply flex min-h-[250px] flex-col justify-between rounded-[30px] p-5 shadow-lg lg:min-h-[300px] lg:p-10;
  @apply w-full max-w-[100%];
}

@layer components {
  .button {
    @apply animate-gradient-x inline-flex h-full w-auto min-w-[150px] items-center justify-center rounded-[20px] bg-gradient-to-r from-primary via-secondary to-description px-2 py-3 text-[16px] text-background transition-all duration-300 hover:scale-105 hover:shadow-lg md:py-4 lg:h-[50px] lg:text-[18px];
  }
}

.button-secondary {
  @apply relative px-2 py-2 font-serif text-[16px] text-description after:absolute after:bottom-[-2px] after:left-0 after:h-[2px] after:w-full after:origin-right after:scale-x-0 after:bg-current after:transition-transform after:duration-300 hover:text-secondary hover:after:origin-left hover:after:scale-x-100 lg:text-[18px];
}

.button-description {
  @apply min-w-[150px] items-center justify-center rounded-[20px] border-2 border-solid border-secondary px-2 py-3 text-[16px] text-description transition-all duration-300 hover:scale-105 hover:text-secondary hover:shadow-lg md:py-4 lg:h-[50px] lg:text-[18px];
}

.small-description {
  @apply text-link text-description lg:text-base;
}

.line {
  @apply relative transition-all duration-300 after:absolute after:bottom-[-4px] after:left-0 after:h-[2px] after:w-full after:origin-right after:scale-x-0 after:bg-current after:transition-transform after:duration-300 hover:scale-105 hover:text-secondary hover:after:origin-left hover:after:scale-x-100;
}

.input {
  @apply h-full w-full rounded-[20px] border-2 border-solid px-4 py-2 transition duration-300 hover:shadow-xl focus:outline-none lg:h-[50px];
}
